section {
    margin: 0 auto;
    max-width: 1000px;
}

ul{
    margin: 0 auto;
    max-width: 1000px;
    display: flex;

}

li{
    padding: 2rem;
    font-size: 5rem;
}

.flex-container{
    padding-top: 5rem;
    margin: 0 auto;
    max-width: 1000px;
    list-style: none;
    display: flex;
}

.flex-item{
    background: tomato;
  padding: 5px;
  width: 60px;
  height: 50px;
  margin: 5px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

